app:
  name: ${APP_NAME-dpanel}
  version: ${APP_VERSION}
  env: ${APP_ENV-lite}
  family: ${APP_FAMILY-ce}
  server: ${APP_SERVER-http}
  cors:
    - http://localhost:8000
server:
  http:
    host: 0.0.0.0
    port: ${APP_SERVER_PORT-8086}
  prof:
    host: 0.0.0.0
    port: 8087
log:
  default:
    driver: stack
    channels:
      - file
      - console
  file:
    driver: file
    path: ${STORAGE_LOCAL_PATH}/logs/dpanel.log
    level: warn
  console:
    driver: console
    level: debug
database:
  default:
    driver: sqlite
    user_name: ${DB_USERNAME-root}
    password: ${DB_PASSWORD-123456}
    db_name: ${STORAGE_LOCAL_PATH}/dpanel.db
    charset: utf8mb4
    prefix: ims_
    options:
      mode: ${DP_DB_MODE-rwc}
      _journal_mode: WAL
system:
  baseurl: ${DP_SYSTEM_BASEURL}
  storage:
    local:
      path: ${STORAGE_LOCAL_PATH}
  permission:
    default_username: __public__
  rsa:
    key: ${STORAGE_LOCAL_PATH}/cert/rsa/id_rsa
    pub: ${STORAGE_LOCAL_PATH}/cert/rsa/id_rsa.pub
asusnw:
  gui_theme: ${DP_GUI_THEME-dark} # rog_1 | rog_2 | dark | light