name: Download Docker Cli
on:
  workflow_dispatch:  # 仅手动触发
jobs:
  download_resource:
    runs-on: ubuntu-latest
    steps:
      - name: Download Docker Cli x86
        continue-on-error: true
        run: |
            # docker.exe
            LATEST_ZIP=$(curl -sS https://download.docker.com/win/static/stable/x86_64/ | grep -oE 'docker-[0-9.]+\.zip' | tail -n 1)
            curl -sSLO "https://download.docker.com/win/static/stable/x86_64/$LATEST_ZIP"
            unzip -q $LATEST_ZIP
            cp docker/docker.exe docker-windows-x86_64.exe
          
            # docker-compose.exe
            URL=$(curl -sS https://api.github.com/repos/docker/compose/releases/latest | jq -r '.assets[] | select(.name == "docker-compose-windows-x86_64.exe") | .browser_download_url')
            curl -sSL -o "docker-compose-windows-x86_64.exe" "$URL"
            
            # fnpack
            curl -sSL -o fnpack https://static2.fnnas.com/fnpack/fnpack-1.0.1-linux-amd64
            chmod 755 fnpack && ./fnpack --help
      - name: Create Release
        if: always()
        uses: softprops/action-gh-release@v2
        with:
          tag_name: docker-cli-v1
          name: "Docker Cli Collection"
          body: "Pre-built docker cli command"
          files: |
            docker-windows-x86_64.exe
            docker-compose-windows-x86_64.exe
            fnpack
          draft: false
          prerelease: false
          make_latest: false
